/*
  You can add custom styles here.
  It could be plugins:
    @import "plugins/numbered";
    @import "plugins/scrollbars";
    @import "plugins/themes";
  Or custom styles:
    body { background: white; }
  Or even theme mixins:
    @mixin theme-light {
      --body-background: white;
      --body-font-color: black;
      ...
    }
*/

@import url("https://fonts.googleapis.com/css2?family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

.book-brand {
  font-family: "Libertinus Serif";
  font-style: italic;
}

.book-hero {
  text-align: center;
}

.book-search {
  // until the search results aren't rubbish, hide the search box
  display: none;
}

.markdown {
  pre {
    padding: $padding-8;
    background: var(--gray-100);
    border: none;
    border-radius: var(--border-radius);
    overflow-x: auto;
    font-size: 0.9em;
  }

  code {
    border: none;
    background: none;
    font-size: 1em;
    padding: 0;
  }
}

pre.fn-signature {
  background: none;
  padding: 0;
  font-size: 0.9em;
}

.fn-arg {
  border-top: 1px solid var(--gray-500);
  border-radius: 0.6em 0.6em 0 0;

  padding: 0.5em;
  margin: 2em 0;

  & > h3:first-child {
    margin-top: 0;
    display: inline-block;
    font-size: 1rem;
  }

  .fn-arg-details {
    display: inline-block;
    margin-left: 1em;
    font-size: 0.8em;
  }
}

.svg-frame {
  overflow-x: scroll;
  mask-image: linear-gradient(to right, black 90%, transparent);
}

.frame-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.code-example {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;

  .codeblock {
    flex: 1 1 30vw;
    overflow-x: scroll;
    mask-image: linear-gradient(to right, black 90%, transparent);
  }

  .svg-frame {
    mask-image: none;
  }
}

@mixin pill($color) {
  background: $color;
  border-radius: 0.2em;
  padding: 0.08em 0.2em;
}

.type {
  &[title="content"] {
    @include pill(rgba(48, 227, 214, 0.36));
  }

  &[title="dictionary"],
  &[title="array"] {
    @include pill(rgba(150, 140, 157, 0.3));
  }

  &[title="bool"] {
    @include pill(rgba(238, 199, 103, 0.36));
  }

  &[title="number"],
  &[title="length"],
  &[title="angle"],
  &[title="percent"],
  &[title="ratio"],
  &[title="int"],
  &[title="float"] {
    @include pill(rgba(166, 118, 249, 0.28));
  }

  &[title="alignment"],
  &[title="center"],
  &[title="top"],
  &[title="bottom"],
  &[title="left"],
  &[title="right"] {
    @include pill(rgba(238, 199, 103, 0.36));
  }
}
