:root {
	font-family: system-ui, segoe ui, Roboto, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji;
	--sidebar-width: 12rem;
}

body {
  margin: 0;
}

main {
  display: flex;
}

article {
  width: 100%;
  font-weight: 320;
  line-height: 1.4;
  overflow-x: hidden;
  padding: 1rem;
}

h1, h2 {
	font-weight: 300;
}

h2 {
  margin-top: 0;
}

a {
	color: unset;
	cursor: pointer;
}
a:hover {
	text-decoration: underline;
}

.codeblock pre {
	overflow-x: scroll;
	background: #def;
	padding: 0.5em;
	border-radius: 0.25em;
}

.frame-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}


/* Navigation bar */


input#menu-control {
	display: none;
}

label#menu-button {
	cursor: pointer;
}

nav > #sidebar-title {
  margin-top: 0.55rem;
  margin-bottom: 0.5rem;
}
nav {
  position: fixed;
  width: var(--sidebar-width);
  height: 100vh;
  box-sizing: border-box;
	padding-top: 1rem;
	padding-left: 1rem;
	font-size: 0.9rem;
	line-height: 1.9;
	white-space: nowrap;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 1;
}

nav p {
	margin: 0; /* glitchy when combined with overflow */
}
nav ul {
	list-style: none;
	padding: 0;
}
nav details ul {
	padding-left: 1rem;
}
nav > ul > li {
	margin-top: 1rem;
}


nav summary {
	list-style: none;
	cursor: pointer;
}
nav details summary::after {
	content: "+";
	float: right;
	margin-right: 1em;
}
nav details[open] summary::after {
	content: "−";
}

nav a {
	text-decoration: none;
}

nav {
	background: white;
	transition:
		/* menu open/close */
		left 200ms,
		/* menu unstretching to normal width */
	  box-shadow ease-in-out 500ms,
	  min-width ease-in-out 500ms;
	box-shadow: 5px 0 0px -5px #0000;
	min-width: var(--sidebar-width);
}

nav.stretched {
  transition: 300ms; /* how fast menu stretches out */
	box-shadow: 5px 0 10px -5px #0003;
}


@media screen and (min-width: 45rem) {
	/* Wide page */

	main {
		margin: auto;
		width: calc(min(40rem + 30vw, 100vw));
	}

	article {
		margin-left: var(--sidebar-width);
	}

	#menu-button {
		display: none;
	}
}

@media screen and not (min-width: 45rem) {
	/* Narrow page */

	#menu-button {
		position: fixed;
		top: 0;
		left: 0;
		background-color: white;
		padding: 1rem;
		border-bottom-right-radius: 1rem;
		box-shadow: 0 0 1rem #0002;
	}

	nav {
		left: calc(-1*var(--sidebar-width));
	}

	h2 {
  	text-align: center;
	}

	#menu-control:checked ~ nav {
		left: 0px;
		box-shadow: 0 0 15px #0003;
	}

	.menu-overlay {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background: white;
		transition: opacity 0.2s;
		opacity: 0.5;
	}

	#menu-control:not(:checked) ~ .menu-overlay {
		opacity: 0;
		pointer-events: none;
	}


}
